{% extends 'events.html.twig' %}

{% block event %}
    <h1 class="page-header"><span class="fa fa-list-alt"></span>&nbsp;&nbsp;Events</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">HTTP</a></li>
        <li role="presentation" class="active"><a href="#">SYSTEM</a></li>
    </ul>


{% endblock %}
