<ul class="nav nav-sidebar">
    <li {% if (action == 'admin.projects') %}class="active"{% endif %}><a href="/admin/projects/"><span class="fa fa-cubes"></span>&nbsp;Projects</a></li>
    <li {% if (action == 'admin.users') %}class="active"{% endif %}><a href="/admin/users/"><span class="fa fa-users"></span>&nbsp;Users</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li {% if (action == 'admin.logs') %}class="active"{% endif %}><a href="/admin/logs/http/"><span class="fa fa-list-alt"></span>&nbsp;Logs</a></li>
    <li {% if (action == 'admin.settings') %}class="active"{% endif %}><a href="/admin/settings/"><span class="fa fa-cogs"></span>&nbsp;Settings</a></li>
</ul>
