{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-sliders fa-fw"></span>&nbsp;&nbsp;Project settings</h1>
{% endblock %}
