<ul class="nav nav-sidebar">
    <li {% if (action == 'profile.personal') %}class="active"{% endif %}><a href="/profile/personal/"><span class="fa fa-user"></span>&nbsp;Personal</a></li>
    <li {% if (action == 'profile.projects') %}class="active"{% endif %}><a href="/profile/projects/"><span class="fa fa-cubes"></span>&nbsp;Projects</a></li>
</ul>
