.table-vcenter td {
    vertical-align: middle!important;
}

.checkbox-label-p45 {
    padding-left: 45px !important;
}

.terminal {
    border: 1px inset #ccc;
    background-color: black;
    font-family: monospace;
    font-size: 11px;
    resize: both;
    height: 63vh;
    overflow-y: scroll;
    padding-bottom: 25px;
}

.terminal-system-event {
    color: yellow;
}
