.table-vcenter td {
    vertical-align: middle!important;
}

.checkbox-label-p45 {
    padding-left: 45px !important;
}

.textarea-terminal[readonly] {
    font-family: monospace;
    color: green;
    background-color: black;
    overflow-y: scroll;
}
