{% extends '../layout/index.html.twig' %}

{% block content %}
<h1 class="page-header"><span class="fa fa-ship"></span>&nbsp;Welcome</h1>
<ul>
{% for image in ii %}
    <li>{{ image }}</li>
{% endfor %}
</ul>
{% endblock %}
