{% extends '../layout/index.html.twig' %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-exclamation fa-fw"></span>&nbsp;&nbsp;Requested URL not found</h1>
    <p class="lead">Sorry about that</p>
{% endblock %}
