{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-life-ring fa-fw"></span>&nbsp;&nbsp;About</h1>
{% endblock %}
