{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-life-ring fa-fw"></span>&nbsp;&nbsp;About</h1>

    <br />

    <p class="lead">
        Latest documentation has to be here <a target="_blank" href="https://github.com/amberovsky/docker-blah">https://github.com/amberovsky/docker-blah</a>&nbsp;<span class="fa fa-external-link"></span><br><br>
        2016, Anton Zagorskii amberovsky@gmail.com
    </p>
{% endblock %}
