{% extends '../../layout/index.html.twig' %}

{% block sidebar %}
    {% include './../partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header">
        <span class="fa fa-users fa-fw"></span>&nbsp;&nbsp;<a href="/admin/registries/" class="btn btn-danger btn-sm" role="button"><span class="fa fa-hand-o-left fa-lg"></span>&nbsp;&nbsp;Go back</a>&nbsp;&nbsp;
        {% if (subaction == 'create') %}
            Add a registry
        {% else %}
            Edit registry #{{ request.registry.getId() }}
        {% endif %}
    </h1>
    <form class="form-horizontal" method="post" action="/admin/registries/{% if (subaction == 'create') %}create{% else %}{{ request.registry.getId() }}{% endif %}/">
        {% if (error or success) %}
            <div class="col-sm-6">
                {% if (error) %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ error }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ success }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <br />
    </form>
{% endblock %}
