{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-sitemap"></span>&nbsp;Nodes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>IP</th>
                <th>Response time/status</th>
            </tr>
        </thead>
        {% for node in nodes %}
            <tr>
                <td>{{ node.getId() }}</td>
                <td>{{ node.getName() }}</td>
                <td>{{ node.getIp() }}</td>
                <td>{{ node.getResponseTime() }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
