<ul class="nav nav-sidebar">
    <li {% if action == 'projects.index' %}class="active"{% endif %}><a href="/project/{{ request.docker_blah.project.getId() }}/"><span class="fa fa-briefcase"></span>&nbsp;Overview</a></li>
    <li {% if action == 'projects.nodes' %}class="active"{% endif %}><a href="/project/{{ request.docker_blah.project.getId() }}/nodes/"><span class="fa fa-sitemap"></span>&nbsp;Nodes</a></li>
    <li {% if action == 'projects.containers' %}class="active"{% endif %}><a href="/project/{{ request.docker_blah.project.getId() }}/containers/"><span class="fa fa-th"></span>&nbsp;Containers</a></li>
</ul>
{% if app.docker_blah.projectManager.isUserAdmin() %}
<ul class="nav nav-sidebar">
    <li><a href="/project/{{ request.docker_blah.project.getId() }}/settings/"><span class="fa fa-sliders"></span>&nbsp;Project settings</a></li>
</ul>
{% endif %}
